.classpath
.settings
.project
.checkstyle
.DS_Store
.externalToolBuilders
build
jars
.*.swp
nbproject
.idea
*.iml
*.ipr
*.iws
*.local.properties
*-dist.zip
*.po.~*~
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ignore folders used to build binaries for old Java
/pgjdbc-jre6
/pgjdbc-jre7
/eclipsebin/
/gmsoft.log
/HeroJDBC-*.tar.gz
/HeroDB-42.2.7.12-*.jar
/client_error.log
/pgjdbc-trace.log
/libtgeng.dll
/libtgsecios.dll
/tgeng.ini
/tgeng.log
/sslcli_test.exe
/ssltest.properties
/test1.docx
/gmskf-c.log
gmskfsoft-c.log
/pgjdbc/src/main/resources/git-hero-jdbc.txt
/output
/HeroDB.pg-42.2.12-jre8-20220622225715.jar
